

.biggest-number__title {
  padding-top: 36px;
  border-top: 1px solid #000;
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.biggest-number-list {
  gap: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.biggest-number-list__input {
  border-radius: 20px;
  background: #d7d7d7;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
}

.biggest-number-list__input::placeholder {
  color: #7e7e7e;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.biggest-number__result {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
