

.dinosaur__title {
  padding-top: 36px;
  border-top: 1px solid #000;
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dinosaur__img {
  margin-bottom: 36px;
}
