// .dinosaur {
//   position: relative;
//   height: 241px;
// }

.dinosaur__title {
  padding-top: 36px;
  border-top: 1px solid #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  width: 600px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url(img/trex.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 580px;

  background-image: url("img/cactus.png");
  background-size: 20px 40px;

  animation: block 1s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}

// .dinosaur__img {
//   margin-bottom: 36px;
//   position: absolute;
//   bottom: 0px;
//   left: 500px;
//   transform: translateY(0);
//   transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
// }

// .dino__flex {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .dinosaur__cactus-img {
//   position: absolute;
//   bottom: 40px;
//   right: 0px;
//   transform: translateX(0);
//   transition: transform 4000ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
//   animation: cactus-movement 5s infinite, cactus-animation 1s infinite;
// }

// // @keyframes cactus-movement {
// //   0% {
// //     transform: translateX(0);
// //   }
// //   100% {
// //     transform: translateX(-1000px);
// //   }
// // }

// @keyframes cactus-animation {
//   0% {
//     fill: #000;
//   }

//   100% {
//     fill: #fff;
//   }
// }
