.dinosaur__title {
  padding-top: 36px;
  border-top: 1px solid #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  width: 600px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
}

.black-bg {
  background-color: #202124;
}

#dino {
  width: 60px;
  height: 60px;
  background-image: url(../../images/trex.png);
  background-size: 60px 60px;
  position: relative;
  top: 140px;
  left: 30px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

.cactus {
  width: 30px;
  height: 50px;
  position: relative;
  top: 90px;
  left: 570px;
  background-image: url("../../images/cactus.png");
  background-size: 30px 50px;
  // animation: block 2s infinite linear;
}

.cactus-animation {
  animation: block 2s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -10px;
  }
}

.game-over {
  width: 350px;
  height: 150px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 3px 3px 50px 3px rgba(0, 0, 0, 0.25);
  padding: 15px;
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-over__text {
  font-size: 20px;
  font-weight: 400;
  color: hsl(0, 100%, 58%);
  margin-bottom: 20px;
}

.game-over__btn {
  border-radius: 20px;
  background: #000;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.game-over-hidden {
  display: none;
  pointer-events: none;
}
