// .footer {
//   background: #fff;
// }

.footer__flex {
  display: flex;
}

.footer__logo {
  margin-right: 185px;
}

.footer-contacts {
  flex-direction: column;
  gap: 5px;
  margin-right: 187px;
}

.footer__input {
  padding: 10px;
  width: 204px;
  //   height: 35px;
  border-radius: 20px;
  background: #d7d7d7;
  margin-right: 36px;
}

.footer__input::placeholder {
  color: #7e7e7e;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.footer__btn {
  padding: 10px;
  border-radius: 20px;
  background: #000;
  color: #fff;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.footer__subscribe {
  display: flex;
  //   flex-direction: column;
  width: 357px;
  align-items: center;
  position: relative;
}

.footer__text {
  font-size: 6px;
  font-weight: 400;
  line-height: normal;
  margin-top: 18px;
}

.footer__subscribe-flex {
  display: flex;
  flex-direction: column;
}

.footer__message {
  color: #e42f2f;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: -17px;
  left: 9px;
}
