.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
}

.header__interactive-btn {
  background-color: transparent;
}

.header .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__logo {
  width: 93px;
  height: 38.15px;
  margin-right: 80px;
}

.header-list {
  gap: 50px;
  margin-right: 361px;
}

.header-list__link {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.header__btn {
  margin-right: 51px;
}

.header__text {
  color: #000;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.header__light-btn {
  width: 40px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  right: 200px;
}

.header__dark-btn {
  position: absolute;
  right: 200px;
  width: 40px;
  height: 20px;
  background-color: transparent;
  display: none;
}
