.header-modal {
  padding: 46px 92px;
  position: fixed;
  top: 25%;
  left: 29%;
  background-image: url(../images/header-modal-bg.png);
  background-repeat: no-repeat;
  border-radius: 20px;
}

.header-modal__close {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #fff;
}

.header-modal__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
}

.header-modal__text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 42px;
}

.header-modal__flex {
  display: flex;
  flex-direction: column;
}

.header-modal__label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 18px;
}

.header-modal__input {
  border-radius: 20px;
  background: #d7d7d7;
  padding: 10px 10px 10px 10px;
  margin-bottom: 18px;
}

.header-modal__btn {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  border-radius: 20px;
  background: #000;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
}
