.interactive-modal {
  background: #fff;
  border-radius: 0px 0px 20px 20px;
  border: 1.5px solid #000;
  width: 160px;
  height: 105px;
  position: fixed;
  top: 47px;
  left: 21%;
  display: none;
  z-index: 999;
}

.interactive-list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interactive-list__btn {
  background-color: transparent;
}

.interactive-list__item {
  width: 160px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interactive-list__item:hover {
  background: #f1f1f1;
}

.interactive-list__item:nth-child(3):hover {
  border-radius: 0px 0px 20px 20px;
}
