.rock-paper-scissors__title {
  padding-top: 36px;
  border-top: 1px solid #000;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.rock-paper-scissors-list {
  gap: 38px;
  justify-content: center;
  align-items: center;
}

.rock-paper-scissors-list__btn {
  border-radius: 20px;
  background: #000;
  width: 60px;
  height: 60px;
}

.rock-paper-scissors__text {
  opacity: 0;
  color: #039900;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.rock-paper-scissors__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.rock-paper-scissors__count {
  margin-left: 104px;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.rock-paper-scissors__player {
  margin-left: 104px;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.rock-paper-scissors__computer {
  margin-left: 104px;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.rock-paper-scissors__btn {
  border-radius: 20px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 20px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.rock-paper-scissors {
  position: relative;
}

.rock-paper-scissors__count-flex {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 777px;
}
