.scientists__title {
  padding-top: 36px;
  border-top: 1px solid #000;
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scientists-list {
  flex-wrap: wrap;
  max-width: 577px;
  gap: 59px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 46px;
}

.scientists-list__item {
  border-radius: 20px;
  background: #d9d9d9;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scientists-list__name {
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  line-height: 170%;
  opacity: 0;
}

.scientists-list__age {
  opacity: 0;
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  line-height: 170%;
}

.scientists-conditions {
  flex-wrap: wrap;
  max-width: 800px;
  gap: 36px;
  margin-left: auto;
  margin-right: auto;
}

.scientists-conditions__btn {
  padding: 10px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  border-radius: 20px;
  background: #000;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

/* Define animation for opacity */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Define transition for opacity */
.fadeIn {
  animation: fadeIn 0.5s ease forwards;
}
