.soccer__title {
  padding-top: 36px;
  border-top: 1px solid #000;
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soccer__field {
  background-image: url(../../images/soccer-field.jpg);
  background-size: 104%;
  background-position: center;
  width: 700px;
  height: 320px;
  border-radius: 37px;
  border: 2px solid #000;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.soccer__ball {
  position: absolute;
  top: 85px;
  left: 92px;
  transition: all 1s;
}
