.team__title {
  padding-top: 36px;
  border-top: 1px solid #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 92px;
  padding-right: 92px;
  margin-bottom: 24px;
}

.team__img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background: #d9d9d9;
  margin-bottom: 20px;
}

.team__name {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__info {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-list__item:nth-child(2) {
  display: none;
}

.slider-list__item:nth-child(3) {
  display: none;
}

.slider__btn-forward {
  margin-left: auto;
  background-color: transparent;
}

.slider__btn-forward-icon {
  stroke: black;
}

.slider__btn-forward:hover .slider__btn-forward-icon {
  stroke-width: 3px;
}

.slider__btn-backward {
  margin-right: auto;
  background-color: transparent;
}

.slider__btn-backward-icon {
  stroke: black;
}

.slider__btn-backward:hover .slider__btn-backward-icon {
  stroke-width: 3px;
}

.slider-list {
  margin-left: auto;
  margin-right: auto;
}

.team__slides {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.slider-list__item {
  display: flex;
  align-items: center;
}
