.time-calculator__title {
  padding-top: 36px;
  border-top: 1px solid #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.time-calculator__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-calculator__input {
  border-radius: 20px;
  background: #d7d7d7;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
}

.time-calculator__input::placeholder {
  color: #7e7e7e;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 38px;
}

.time-calculator__form {
  margin-right: 38px;
  position: relative;
}

.time-calculator__btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px 20px 20px 0px;
  background: #000;
  padding: 8px;
  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
}

.time-calculator__result {
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.time-calculator__icon {
  margin-right: 33px;
}
