body {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  line-height: normal;
  color: #000;
  background-image: url(../../images/bg.webp);
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 1090px;
  //   height: 3202px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding-bottom: 36px;
}

ul {
  display: flex;
  list-style: none;
}

button,
p,
a,
h1,
h2,
h3 {
  font-family: "Montserrat Alternates";
}

.backdrop {
  position: fixed;
  top: 0; /* Задаємо початкову позицію відносно верхнього краю сторінки */
  left: 0; /* Задаємо початкову позицію відносно лівого краю сторінки */
  width: 100%; /* Ширина рівна ширині вікна */
  height: 100%; /* Висота рівна висоті вікна */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозорий колір */
  z-index: 998; /* Забезпечує, що backdrop буде під модальним вікном */
  display: none; /* Початково прихований */
}
