body {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  line-height: normal;
  color: #000;
  background-image: url(../../images/bg.webp);
}

.container {
  width: 1090px;
//   height: 3202px;
  padding: 36px 86px 0px 86px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}
