<section class="biggest-number">
  <div class="container">
    <h2 class="biggest-number__title">Введіть 3 числа</h2>
    <ul class="biggest-number-list">
      <li class="biggest-number-list__item">
        <input
          placeholder="Введіть число"
          type="text"
          class="biggest-number-list__input input1"
        />
      </li>
      <li class="biggest-number-list__item">
        <input
          placeholder="Введіть число"
          type="text"
          class="biggest-number-list__input input2"
        />
      </li>
      <li class="biggest-number-list__item">
        <input
          placeholder="Введіть число"
          type="text"
          class="biggest-number-list__input input3"
        />
      </li>
    </ul>
    <p class="biggest-number__result">
      Найбільше число, яке ви ввели - (число)
    </p>
  </div>
</section>
