<section class="calculator">
  <div class="container">
    <h2 class="calculator__title">Калькулятор</h2>
    <div class="calculator__flex">
      <input
        placeholder="Введіть число"
        type="text"
        class="calculator__number1"
      />
      <ul class="calculator-list">
        <li class="calculator-list__item">
          <button type="button" class="calculator-list__btn plus">+</button>
        </li>
        <li class="calculator-list__item">
          <button type="button" class="calculator-list__btn multiply">*</button>
        </li>
        <li class="calculator-list__item">
          <button type="button" class="calculator-list__btn minus">-</button>
        </li>
        <li class="calculator-list__item">
          <button type="button" class="calculator-list__btn divide">/</button>
        </li>
      </ul>
      <input
        placeholder="Введіть число"
        type="text"
        class="calculator__number2"
      />
      <button class="calculator__btn">=</button>
      <p class="calculator__result">Результат</p>
    </div>
  </div>
</section>
