<section class="calculator">
  <div class="container">
    <h2 class="calculator__title">Калькулятор</h2>
    <div class="calculator__flex">
      <input
        placeholder="Введіть число"
        type="text"
        class="calculator__number1"
      />
      <ul class="calculator-list">
        <li class="calculator-list__item">
          <button class="calculator-list__btn">+</button>
        </li>
        <li class="calculator-list__item">
          <button class="calculator-list__btn">*</button>
        </li>
        <li class="calculator-list__item">
          <button class="calculator-list__btn">-</button>
        </li>
        <li class="calculator-list__item">
          <button class="calculator-list__btn">/</button>
        </li>
      </ul>
      <input
        placeholder="Введіть число"
        type="text"
        class="calculator__number2"
      />
      <button class="calculator__btn">=</button>
      <input placeholder="Результат" type="text" class="calculator__result" />
    </div>
  </div>
</section>
