<section class="calculator">
  <div class="container">
    <h2 class="calculator__title">Калькулятор</h2>
    <input
      placeholder="Введіть число"
      type="text"
      class="calculator__number1"
    />
    <ul class="calculator-list">
      <li class="calculator-list__item">
        <button class="calculator-list__btn">
          <svg class="calculator-list__icon"></svg>
        </button>
      </li>
      <li class="calculator-list__item">
        <button class="calculator-list__btn">
          <svg class="calculator-list__icon"></svg>
        </button>
      </li>
      <li class="calculator-list__item">
        <button class="calculator-list__btn">
          <svg class="calculator-list__icon"></svg>
        </button>
      </li>
    </ul>
    <input
      placeholder="Введіть число"
      type="text"
      class="calculator__number2"
    />
    <button class="calculator__btn">
      <svg class="calculator-list__icon"></svg>
    </button>
    <input placeholder="Результат" type="text" class="calculator__result" />
  </div>
</section>
