<footer class="footer">
  <div class="container">
    <div class="footer__flex">
      <a href="/" class="footer__logo"
        ><img
          width="165"
          height="70"
          src="../images/logo.webp"
          alt="logo"
          class="header__img"
      /></a>
      <ul class="footer-contacts">
        <li class="footer-contacts__item">Тел: +38 (123) 456 78 90</li>
        <li class="footer-contacts__item">E-Mail: codingmagic@gmail.com</li>
        <li class="footer-contacts__item">Facebook: CodingMagic</li>
        <li class="footer-contacts__item">Twitter: CodingMagic</li>
        <li class="footer-contacts__item">Instagram: CodingMagic</li>
      </ul>
      <div class="footer__subscribe">
        <input
          placeholder="Ваша ел. адреса..."
          type="text"
          class="footer__input"
        />
        <button class="footer__btn" type="submit">Підписатись</button>

        <p class="footer__text">
          *Підписавшись, Ви зможете ортимувати інформацію про новинки на сайті
        </p>
      </div>
    </div>
  </div>
</footer>
