<header class="header">
  <a href="/" class="header__logo"
    ><img src="../images/logo.webp" alt="logo" class="header__img"
  /></a>
  <ul class="header-list">
    <li class="header-list__item">
      <button type="button" class="header__interactive-btn">
        <a href="#" class="header-list__link">Інтерактив</a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="11"
          height="7"
          viewBox="0 0 11 7"
          fill="none"
        >
          <path
            d="M10 1L5.5 6L1 1"
            stroke="black"
            stroke-width="0.75"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </li>
    <li class="header-list__item">
      <a href="#team" class="header-list__link">Наша команда</a>
    </li>
    <li class="header-list__item">
      <a href="#contacts" class="header-list__link">Контакти</a>
    </li>
  </ul>
  <h2 class="header__text">Вітаємо, User</h2>
</header>
