<header class="header">
  <a href="/" class="header__logo"
    ><img
      width="93"
      height="38.15"
      src="../images/logo.webp"
      alt="logo"
      class="header__img"
  /></a>
  <ul class="header-list">
    <li class="header-list__item">
      <a href="" class="header-list__link">Інтерактив</a>
    </li>
    <li class="header-list__item">
      <a href="" class="header-list__link">Наша команда</a>
    </li>
    <li class="header-list__item">
      <a href="" class="header-list__link">Контакти</a>
    </li>
  </ul>
  <button class="header__btn"></button>
  <h2 class="header__text">Вітаємо, User</h2>
</header>
