<section class="rock-paper-scissors">
  <div class="container">
    <h2 class="rock-paper-scissors__title">Камінь - ножиці - папір</h2>
    <ul class="rock-paper-scissors-list">
      <li class="rock-paper-scissors-list__item">
        <button class="rock-paper-scissors-list__btn"></button>
      </li>
      <li class="rock-paper-scissors-list__item">
        <button class="rock-paper-scissors-list__btn"></button>
      </li>
      <li class="rock-paper-scissors-list__item">
        <button class="rock-paper-scissors-list__btn"></button>
      </li>
    </ul>
    <p class="rock-paper-scissors__count">Рахунок:</p>
    <button class="rock-paper-scissors__btn">Варіант комп’ютера</button>
  </div>
</section>
