<section class="scientists">
  <div class="container">
    <h2 class="scientists__title">Обери вченого/их</h2>
    <ul class="scientists-photos">
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
    </ul>
    <ul class="scientists-conditions">
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn">
          Які вчені народилися в 19 ст.
        </button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn">
          Знайти рік народження Albert Einshtein
        </button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn">
          Відсортувати вчених за алфавітом
        </button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn">
          Знайти вчених, прізвища яких починаються на на літеру “С”
        </button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn">
          Відсортувати вчених за кількістю прожитих років
        </button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn">
          Видалити всіх вчених, ім’я яких починається на “А”
        </button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn">
          Знайти вченого, який народився найпізніше
        </button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn">
          Знайти вченого, який прожив найдовше і вченого, <br>який прожив найменше
        </button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn">
          Знайти вчених, в яких співпадають перші літери імені і прізвища
        </button>
      </li>
    </ul>
  </div>
</section>
