<section class="scientists">
  <div class="container">
    <h2 class="scientists__title">Обери вченого/их</h2>
    <ul class="scientists-list">
      <li class="scientists-list__item albert">
        <h3 class="scientists-list__name albert-name">Albert Einstein</h3>
        <p class="scientists-list__age albert-age">1879-1955</p>
      </li>
      <li class="scientists-list__item isaac">
        <h3 class="scientists-list__name isaac-name">Isaac Newton</h3>
        <p class="scientists-list__age isaac-age">1643-1727</p>
      </li>
      <li class="scientists-list__item galileo">
        <h3 class="scientists-list__name galileo-name">Galileo Galilei</h3>
        <p class="scientists-list__age galileo-age">1564-1642</p>
      </li>
      <li class="scientists-list__item marie">
        <h3 class="scientists-list__name marie-name">Marie Curie</h3>
        <p class="scientists-list__age marie-age">1867-1934</p>
      </li>
      <li class="scientists-list__item johannes">
        <h3 class="scientists-list__name johannes-name">Johannes Kepler</h3>
        <p class="scientists-list__age johannes-age">1571-1630</p>
      </li>
      <li class="scientists-list__item nicolaus">
        <h3 class="scientists-list__name nicolaus-name">Nicolaus Copernicus</h3>
        <p class="scientists-list__age nicolaus-age">1473-1543</p>
      </li>
      <li class="scientists-list__item max">
        <h3 class="scientists-list__name max-name">Max Planck</h3>
        <p class="scientists-list__age max-age">1858-1947</p>
      </li>
      <li class="scientists-list__item kate">
        <h3 class="scientists-list__name kate-name">Katherine Blodgett</h3>
        <p class="scientists-list__age kate-age">1898-1979</p>
      </li>
      <li class="scientists-list__item ada">
        <h3 class="scientists-list__name ada-name">Ada Lovelace</h3>
        <p class="scientists-list__age ada-age">1815-1852</p>
      </li>
      <li class="scientists-list__item sarah">
        <h3 class="scientists-list__name sarah-name">Sarah E. Goode</h3>
        <p class="scientists-list__age sarah-age">1855-1905</p>
      </li>
      <li class="scientists-list__item lise">
        <h3 class="scientists-list__name lise-name">Lise Meitner</h3>
        <p class="scientists-list__age lise-age">1878-1968</p>
      </li>
      <li class="scientists-list__item hanna">
        <h3 class="scientists-list__name hanna-name">Hanna Hammarström</h3>
        <p class="scientists-list__age hanna-age">1829-1909</p>
      </li>
    </ul>
    <div class="conditions">
      <ul class="scientists-conditions1">
        <li class="scientists-conditions__item">
          <button class="scientists-conditions__btn born19century">
            Які вчені народилися в 19 ст.
          </button>
        </li>
        <li class="scientists-conditions__item">
          <button class="scientists-conditions__btn scientists-alphabet">
            Відсортувати вчених за алфавітом
          </button>
        </li>
        <li class="scientists-conditions__item">
          <button class="scientists-conditions__btn scientists-sort-by-age">
            Відсортувати вчених за кількістю прожитих років
          </button>
        </li>
        <li class="scientists-conditions__item">
          <button class="scientists-conditions__btn born-latest">
            Знайти вченого, який народився найпізніше
          </button>
        </li>
      </ul>
      <ul class="scientists-conditions2">
        <li class="scientists-conditions__item">
          <button class="scientists-conditions__btn find-albert-age">
            Знайти рік народження Albert Einshtein
          </button>
        </li>
        <li class="scientists-conditions__item">
          <button class="scientists-conditions__btn find-c-surnames">
            Знайти вчених, прізвища яких починаються на на літеру “С”
          </button>
        </li>
        <li class="scientists-conditions__item">
          <button class="scientists-conditions__btn delete-a-names">
            Видалити всіх вчених, ім’я яких починається на “А”
          </button>
        </li>
        <li class="scientists-conditions__item">
          <button class="scientists-conditions__btn longest-shortest-lives">
            Знайти вченого, який прожив найдовше і вченого, <br />який прожив
            найменше
          </button>
        </li>
      </ul>
    </div>
    <button
      class="scientists-conditions__btn conditions-last-btn matching-initials"
    >
      Знайти вчених, в яких співпадають перші літери імені і прізвища
    </button>
  </div>
</section>
