<section class="scientists">
  <div class="container">
    <h2 class="scientists__title">Обери вченого/их</h2>
    <ul class="scientists-photos">
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
      <li class="scientists-photos__item">
        <img src="#" alt="" class="scientists-photos__img" />
      </li>
    </ul>
    <ul class="scientists-conditions">
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn"></button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn"></button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn"></button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn"></button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn"></button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn"></button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn"></button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn"></button>
      </li>
      <li class="scientists-conditions__item">
        <button class="scientists-conditions__btn"></button>
      </li>
    </ul>
  </div>
</section>
